img {
  min-width: 50px;
}

body {
  width: 80%;
  margin: auto;
  background-image: url("../assets/images/battle-background.jpg");
  background-repeat: repeat-x;
}

button {
  margin: 1em;
  margin-left: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 1em;
  margin: 1em;
  margin-left: 0;
  border: 1px solid black;
}